{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous? {% endblock %}

{% block body %}
   <div class="container">
    <section class="privacy-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30-none">
                    <div class="privacy-content mb-30">
                        <h3 class="title">PRÉSENTATION DU CABINET</h3>
                        <p>CONSEIL ET ORGANISATION DES ENTREPRISES DONT L’EXPERTISE PART DU DESIGN DE PROJET A LA RECHERCHE DE FINANCEMENT EN PASSANT PAR LE LEADERSHIP </p>
                        
                        <b>DATES DE CLÉS : </b>
                        <ul class="privacy-item">
                            <li>DATE DE CRÉATION : 2004.</li>
                            <li>FORMALISATION : 2010 EN ETS </li>
                            <li>1ÈRE MUTATION : 2015 EN SARL </li>
                            <li>2ÈME MUTATION : 2020 EN SA AVEC CA</li>
                        </ul>
                    </div>
                    <div class="privacy-content mb-30">
                        <h3 class="title"> DOMAINE D’EXPERTISES </h3>
                        <ul class="privacy-item">
                            <li> GESTION DES PROJETS (PLANIFICATION, GESTION DES ÉQUIPES, GESTION DES RESSOURCES, SUIVI-ÉVALUATION, ASSISTANCE À LA MAITRISE D’OUVRAGE…ETC.) ; </li>
                            <li> DESIGN DES PROJETS - MAITRISE D’ŒUVRE DES PROJETS : ETUDE DE FAISABILITÉ, ETUDE D’OPPORTUNITÉ, ETUDE DE MARCHÉ, ETUDE TECHNIQUE, ETUDE FINANCIÈRE, BUSINESS PLAN, STRATÉGIE D’ENTREPRISE…ETC</li>
                            <li>ACCOMPAGNEMENT ENTREPRENEURIAL ;</li>
                            <li> RECHERCHE DE FINANCEMENT – LOBBYING ; </li>
                            <li>RECHERCHE DES DÉBOUCHES ;</li>
                            <li>FORMATION/MENTORING…</li>
                        </ul>
                    </div>
                    <div class="privacy-content mb-30">
                        <h3 class="title"> ÉQUIPE DIRIGEANTE </h3>

                        <div class="row mb-30-none">
                            <div class="col-lg-6 col-md-6 mb-30">
                                <div class="team-item d-flex flex-wrap">
                                    <div class="team-thumb">
                                        <img src="{{asset('assets/images/com/Rollin.jpg')}}" alt="image">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">ROLLIN FOKO</a></h3>
                                        <span class="sub-title">PRÉSIDENT DU CONSEIL D’ADMINISTRATION </span> <br>
                                        <p>
                                            Diplômé de l’université de Douala et du CNAM-INTEC de Paris Certifié Design Thinking, Effectuation Consultant en entrepreneuriat et spécialiste du Business Plan TEF Mentor, Programme Manager Cameroun, Formateur, Facilitateur francophone du TEFPNUD Auteur-Concepteur du logiciel de finance OHADA FIPRO-SOFT pour l’analyse financière des projets

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-30">
                                <div class="team-item d-flex flex-wrap">
                                    <div class="team-thumb">
                                        <img src="{{asset('assets/images/com/Franck.jpg')}}" alt="image">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">FRANCK CLOVIS NGUIFO</a></h3>
                                        <span class="sub-title">ADMINISTRATEUR DIRECTEUR GÉNÉRAL </span> <br>
                                        <p>Diplômé de l’Université de Douala en gestion marketing, Certifié en gestion de projet, Certifié GERME du BIT Consultant en gestion de projet, sciences de données et stratégie d’entreprise Consultant international auprès de la BAD et la Banque Mondiale en statistiques économiques Expert en Microfinance Expert en Business Intelligence Mentor TEF, MINJEC                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-30">
                                <div class="team-item d-flex flex-wrap">
                                    <div class="team-thumb">
                                        <img src="{{asset('assets/images/com/Clement.jpg')}}" alt="image">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">CLEMENT FOUDJO</a></h3>
                                        <span class="sub-title">  DIRECTEUR DE MISSION</span>
                                        <p>Diplômé de l’ESSEC de Douala en entrepreneuriat Consultant en entrepreneuriat, en études et stratégie marketing Expert-certifié ONUDI dans le cadre de la mise à niveau des entreprises au Cameroun Certifié GERME du BIT Consultant du programme TRASFAGRI de l’APME, Business coach au programme PEA-Jeunes.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mb-30">
                                <div class="team-item d-flex flex-wrap">
                                    <div class="team-thumb">
                                        <img src="{{asset('assets/images/com/Romuald.jpg')}}" alt="image">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title"><a href="">Romuald KINFACK DAGUIM</a></h3>
                                        <span class="sub-title">Technical Consultant</span>
                                        <p>Mechanical and IT engineer U.S. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                  </div>
            </div>
        </div>
    </section>
   </div>
{% endblock %}

