{% extends 'base.html.twig' %}

{% block title %}Contact bien sauvegarder {% endblock %}

{% block body %}
   <div class="container">
        <br><br><br><br><br><br><br><br><br>
        <center>
                <h1>Merci de demander a prendre contact avec nous</h1> <br><br>
                <p>
                    <p>
                        Nous allons vous contacter dans les brefs délais
                    </p>
                    <a href="{{path('app_home')}}" class="form-control btn btn-success btn-lg">Accueil <span class="fa fa-home"></span></a>
                </p>
        </center>
        <br><br><br><br><br><br><br><br><br>
   </div>
{% endblock %}

