{% extends 'base.html.twig' %}

{% block title %}financement{% endblock %}

{% block body %}
   <div class="container">
    <section class="privacy-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30-none">
                    <h3>FINANCEMENTS</h3> <br>

                    <p>
                        Le financement d’une entreprise peut se faire par voie de crédit, par la levée de fonds propres ou de subventions.

                        Une étape indispensable pour démarrer toute recherche de financement est de savoir où l’on va.  Et le meilleur moyen pour le savoir est de réaliser un business plan.
                        
                        Nos consultants vous accompagnent dans toutes ces étapes.
                    </p>

                    <p>
                        Tout au long de votre vie d’entrepreneur, vous allez devoir présenter vos projets à de multiples reprises, à vos partenaires financiers.

Qu’ils soient investisseurs, banquiers, organismes consulaires, collectivités publiques, associations d’aides à la création d’entreprise…, tous veulent en savoir plus sur vos projets, avant de vous accorder leur confiance et les financements escomptés.

Il faut à la fois être clair, précis et synthétique… tout un programme !

Construire un business plan est un exercice d’introspection et de prospective que nous vous aidons à accomplir, en vous guidant pas à pas, afin d’aboutir à une présentation percutante.

Rompus à la lecture de plusieurs centaines de business plan, nos consultants vous aident à ne rien oublier et vous exercent à répondre à toutes les questions gênantes.
                    </p>
                   <br><br>
                    <div class="privacy-content mb-30">
                        <h3 class="title"> La rédaction de votre business plan demande:  </h3>
                        {# <p>Notre cabinet a développé un savoir-faire pour la réalisation des missions d’audit suivantes :</p> #}
                        <ul class="privacy-item">
                            <li> Votre parcours et vos motivations personnelles</li>
                            <li> La présentation de l’équipe </li>
                            <li>L’historique de l’entreprise et ses chiffres clés</li>
                            <li>L’organisation juridique et fonctionnelle</li>
                            <li>Le marché, les produits, la stratégie de développement</li>
                            <li>Vos avantages concurrentiels</li>
                            <li>Les perspectives à 2,3 et 5 ans</li>
                            <li>Notre appui dans l’élaboration de la partie financière</li>
                            <li>Diagnostic financier de votre entreprise</li>
                            <li>choix et établissement des pistes/hypothèses de financement</li>
                            <li>Notre appui à la présentation financière</li>
                           
                        </ul>

                        <p>Nous vous aidons à traduire en chiffres votre stratégie et à réaliser votre prévisionnel :</p>
                        <ul class="privacy-item">
                            <li> Compte de résultat </li>
                            <li> Plan de financement</li>
                            <li>Bilan prévisionnel</li>
                            <li>Trésorerie prévisionnelle</li>
                            <li>Calcul de votre seuil de rentabilité</li>
                            <li>Mise en évidence des marges de manœuvre financière</li>
                            <li>Justification des demandes de financement et valorisation de la société en cas de levée de fonds propres</li>
                            <li><b>La Rédaction de «l’executive summary»</b>
                             <p>
                                C’est à la fois l’introduction et la synthèse du business plan.

En deux à trois pages, l’«executive summary» présente votre entreprise, son positionnement sur le marché, ses ambitions, sa stratégie de développement et les moyens dont elle a besoin pour l’atteindre.

Ce document, placé en tête du business plan, doit donner envie à vos interlocuteurs de rentrer dans le détail de votre dossier.

Sa rédaction est la dernière étape de la mise en forme d’un business plan et nos consultants veillent tout particulièrement à sa qualité.
                             </p>
                            </li>
                            <li>  <b>LEVER LES FONDS PROPRES</b>
                            <p>Nous pouvons vous aider à augmenter vos fonds propres en ouvrant le capital de votre entreprise.

                                Vous avez un projet de création ou de reprise d’entreprise ambitieux, vous souhaitez accélérer votre développement au Cameroun, dans la CEMAC ou à l’international
                                
                                Vous ne disposez pas des moyens financiers nécessaires et vos banques ne souhaitent pas vous accompagner dans votre projet, sans un renforcement de vos fonds propres. 
                                
                                L’ouverture de votre capital à des investisseurs est donc une nécessité.
                                
                                Nous vous accompagnons dans votre opération de levée de fonds, en nous appuyant sur la connaissance des investisseurs :</p>
                            </li>
                            <li>Crowfunding</li>
                            <li>Business angels</li>
                            <li>Sociétés de capital-risque</li>
                            <li>Fonds d’investissement</li>
                           
                        </ul>

                        <h4> Pour La levée de fonds : nos missions</h4>
                        <p>
                            Vous êtes au début de votre recherche et souhaitez être accompagné globalement, de la mise en forme du business plan à la finalisation de l’opération.

Nous intervenons sous forme de mandat de levée de fonds, en tant que maitre d’œuvre et coordinateur de l’opération, rémunérés essentiellement au successfees.

Vous avez identifié un ou des investisseurs et votre business plan est déjà constitué, nous vous assistons en tant que conseil, dans la négociation des modalités d’entrée et du pacte d’associés, rémunérés au temps passé.
                        </p>

                        <h3>OBTENIR DES CREDITS PROFESSIONNELS</h3>
                        <p>
                            Dans un contexte réglementaire bancaire de plus en plus strict, les banques deviennent plus exigeantes pour accorder des crédits.

Fort de leur expérience bancaire (BICEC, SGC, CFC, CHASE BANK , AFB , ATTIJARIWAFA, BGFI etc…) nos consultants vous permettent d’obtenir vos financements dans les meilleures conditions et en un minimum de temps.

Notre accompagnement se fait en tant que conseil (facturation forfaitaire)

Nous avons fait le choix de ne pas être rémunérés par les établissements bancaires afin de conserver une totale indépendance.
                        </p>

                        <b>Nous pouvons vous accompagner sur toutes vos demandes de financements bancaires :</b>
                        <ul class="privacy-item">
                            <li>Création d’entreprise, reprise d’entreprise, croissance externe</li>
                            <li>Investissement matériel, immobilier professionnel, R&D</li>
                            <li>Développement commercial</li>
                            <li>Renforcement de la trésorerie, financement du BFR</li>
                        </ul>

                        <p>
                            Dans le cadre de nos recherches de crédits, nous faisons le maximum pour protéger votre patrimoine personnel, en évitant ou limitant votre caution personnelle ;
                        </p>

                        <b>L’accompagnement à l’obtention d’un crédit bancaire professionnel passe par plusieurs étapes :</b>
                        <ul class="privacy-item">
                            <li>REALISER LE DIAGNOSTIC FINANCIER</li>
                            <li>Quel apport réaliser</li>
                            <li>Quel montant emprunter</li>
                            <li>Quels types de crédit solliciter</li>
                            <li>Quelle durée de financement</li>
                            <li>Quelles garanties proposer</li>
                            <li>CONSTITUER VOTRE DOSSIER DE FINANCEMENT</li>
                            <li></li>
                        </ul>

                        <b>Nous mettons en forme votre dossier financier comprenant notamment :                        </b>
                        <ul class="privacy-item">
                            <li>La présentation de votre entreprise, de l’équipe, du marché, etc</li>
                            <li>Le prévisionnel financier</li>
                            <li>Les financements sollicités</li>
                            <li>Les garanties proposées</li>
                            <li>Toutes les annexes nécessaires pour l’étude de votre dossier</li>
                            <li>VOUS APPUIYER A LA PRESENTATION DU DOSSIER CHEZ LE BANQUIER</li>
                        </ul>

                        <p>
                            Nous prenons pour vous les rendez-vous avec les banques, sur une à deux journées, afin de les rencontrer individuellement.

Lors de ceux-ci, nous vous accompagnons afin de présenter votre dossier, notamment sur les aspects du financement et des garanties.
                        </p>

                        <ul class="privacy-item">
                            <li>VALIDER LES CONTRATS DE CREDIT AVANT LEUR SIGNATURE</li>
                        </ul>

                        <p>
                            Nous vous accompagnons jusqu’à la signature des contrats de crédit

Une fois les propositions de financement retenues, nous validons les contrats afin qu’ils soient en phase avec les propositions émises.
                        </p>

                    </div>
                    <div class="privacy-content mb-30"></div>
                </div>
            </div>
        </div>
    </section>
   </div>
{% endblock %}

