{% extends 'base.html.twig' %}

{% block title %}Dossier terminer {% endblock %}

{% block body %}
   <div class="container">
        <br><br><br><br><br><br><br><br><br>
        <center>
                <h1>Merci d'avoir creer votre dossier</h1> <br><br>
                <p>
                    <a href="{{path('app_home')}}" class="form-control btn btn-success btn-lg">Accueil <span class="fa fa-home"></span></a>
                </p>
        </center>
        <br><br><br><br><br><br><br><br><br>
   </div>
{% endblock %}

