{% extends 'base.html.twig' %}

{% block title %}assistance comptable et fiscal{% endblock %}

{% block body %}
   <div class="container">
    <section class="privacy-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30-none">

                    <p>
                        L’incertitude et l’intensification de la concurrence amènent les entreprises à trouver des solutions spécialisées et taillées sur mesure face à des prises de décisions de plus en plus difficiles et complexes.

                        Nos différentes interventions dans le domaine du financement d’entreprise, interventions qui visent
                        l’amélioration/optimisation de la rentabilité mais aussi, la minimisation des risques financiers, sont quasiment toujours accompagnées d’une intervention en ingénierie financière.
                    </p>

                    <p>
                        A quoi sert de vous aider à trouver des financements ou à acquérir ou céder une entreprise si  le diagnostic effectué n’est pas relayé par les montages économico-financiers, fiscaux et juridiques  ne sont pas conséquents?
                    </p>
                    <p>Quatre thèmes principaux sont abordés dans nos prestations d’ingénierie financière :</p>
                   <br><br>
                    <div class="privacy-content mb-30">
                       <b>Quatre thèmes principaux sont abordés dans nos prestations d’ingénierie financière :</b>
                        <ul class="privacy-item">
                            <li> 
                                <b>DEFINIR LA STRATEGIE FINANCIERE</b> <br>
                                Parce que les projets et la situation financière des entreprises sont différents les unes des autres, nous vous accompagnons dans la définition d’une stratégie financière sur mesure, adaptée à vos besoins spécifiques :
                                
                                <ul class="privacy-item">
                                    <li>La création ou reprise d’entreprise</li>
                                    <li>L’Investissements matériels ou immatériels significatifs</li>
                                    <li>Le financement de l’immatériel (R&D) ou du BFR</li>
                                    <li>L’Investissement immobilier</li>
                                    <li>Les difficultés financières</li>
                                </ul>
                            </li>
                        </ul>
                        <b>Après les phases de diagnostic et projections financières, nous formulons nos recommandations concernant la politique financière à mettre en œuvre :</b>
                        <ul class="privacy-item">
                            <li>Détermination des montants et nature de financements nécessaires</li>
                            <li>Conseil sur la répartition des financements entre fonds propres et crédits bancaires</li>
                            <li>Conseil sur les aides et subventions envisageables</li>
                            
                        </ul>

                        <b>Nous pouvons ensuite vous accompagner dans sa mise en œuvre :</b>
                        <ul class="privacy-item">
                            <li>appui dans la mise en forme du dossier financier ou business plan</li>
                            <li>accompagnement dans la recherche et la négociation de financements de toute nature</li>
                        </ul>

                        <h3>A-1- Diagnostic Financier</h3>
                        <b>Il vous est demandé de faire l’état de vos activités, nos équipes vous accompagnent à mener :</b>
                        <ul class="privacy-item">
                            <li>Analyse de vos bilans et comptes de résultat</li>
                            <li>Comparaison sectorielle sur longue période</li>
                            <li>Mise en évidence des points forts et de faiblesses</li>
                        </ul>

                        Objectifs : <br>

Dégager les axes de progrès pour renforcer la performance financière de votre entreprise et sa trésorerie.

Sécuriser l’entreprise et améliorer le rendement de vos fonds propres.

                        <h3>A-2- Prévisionnel, Business Plan</h3>
                        <p>Nos Experts vous aident à mener l’étude de plusieurs scénarios de développement et à valider leur faisabilité financière, à travers de projections financières comprenant :</p>
                        <ul class="privacy-item">
                            <li>Compte de résultat prévisionnel</li>
                            <li>Plan de financement</li>
                            <li>Bilan prévisionnel</li>
                            <li>Plan de trésorerie</li>
                        </ul>

                        Objectifs : <br>

Vous aider à vous poser les bonnes questions, éclairer vos choix sur le plan financier et vous appuyer dans la mise en forme du dossier financier à destination des banques ou investisseurs.

                        <h3>A-3- Politique Financière</h3>

                        <p>
                            Vous êtes au point sur la stratégie ? C’est le moment de déterminer comment vous allez financer votre projet.

Nos consultants maîtrisent l’ensemble des techniques et modes de financement à destination des entreprises et vous conseillent sur la politique financière à mettre en œuvre
                        </p>

                        <b>Choix et répartition des financements par nature :</b>
                        <ul class="privacy-item">
                            <li>fonds propres et quasi-fonds propres</li>
                            <li>crédits moyen et long terme</li>
                            <li>crédits court terme</li>
                            <li>aides et subventions</li>
                        </ul>

                        <p>Conseil sur les durées de crédit à retenir et sur les garanties alternatives possibles en dehors de votre caution personnelle.</p>
 
                        Objectifs : <br>

Vous permettre de trouver les moyens financiers de votre projet en vous évitant de donner une caution personnelle ou en la limitant.
 
                        <h3>PILOTER MON ENTREPRISE – ANTICIPER LES DIFFICULTES</h3>

                        <p>
                            Avez-vous le bon rythme ?

Sur la route, on contrôle sa vitesse et plusieurs autres indicateurs fondamentaux pour se concentrer sur sa conduite. En entreprise, il en est de même.

La mise en place de tableaux de bord simples et efficients, vous permettra de suivre l’évolution de votre activité et de vos besoins financiers en cours d’année, pour prendre rapidement les décisions d’adaptation éventuellement nécessaires.
                        </p>

                        <p>
                            La mise à jour de vos budgets prévisionnels à mi-parcours vous permettra d’anticiper les difficultés et de repositionner votre stratégie de développement.
                        </p>

                        <p>
                            L’étude de la rentabilité et des besoins financiers de chacune de vos branches d’activité, vous permettra de restaurer ou d’améliorer la rentabilité des secteurs défaillants. Trop souvent, les départements les plus rentables masquent les pertes des branches défaillantes, limitant ainsi la performance globale de l’entreprise.
                        </p>

                        <p>
                            Nous vous proposons enfin un suivi stratégique et financier personnalisé, par téléphone ou à l’occasion de rendez-vous spécifiques, une à deux fois par an, pour éviter les dérapages et repositionner la stratégie et la politique financière de l’entreprise.
                        </p>

                        <h4>B-1- Analyse et Suivi de la Rentabilité par Branche d’Activité</h4>
                        <p>
                            L’étude de la rentabilité et des besoins financiers de chacune de vos branches d’activité, vous permettra de restaurer ou d’améliorer la rentabilité des secteurs défaillants et d’améliorer la performance globale de votre entreprise.
                        </p>

                        Objectifs : <br><br>

                        <ul class="privacy-item">
                            <li>Connaitre la rentabilité et les besoins financiers des différents secteurs d’activité de l’entreprise</li>
                            <li>Etre à même de les comparer aux chiffres clés de vos concurrents</li>
                            <li>Prendre les décisions de gestion qui s’imposent pour restaurer ou améliorer vos résultats</li>
                            <li>Prendre des décisions d’arrêt, de rapprochement ou de cession d’un secteur non stratégique</li>
                        </ul>

                        <h4>B-2- Mise en Place des Tableaux de Bord</h4>
                        <p>
                            Nous vous aidons à mettre en place des tableaux de bord financiers mensuels, simples et efficaces, adaptés à votre entreprise et à sa situation financière, comprenant les indicateurs clés en matière d’activité, rentabilité et suivi de la trésorerie.
                        </p>
                        <p>
                            Vous saurez ainsi d’un seul coup d’œil et de manière graphique, si vous êtes en ligne avec les objectifs économiques et financiers que vous vous êtes fixés. Ce qui vous aidera à prendre rapidement les décisions d’adaptation nécessaires.

Objectifs : <br><br>
                        </p>

                        <ul class="privacy-item">
                            <li>Simplicité (peu d’indicateurs mais les bons)</li>
                            <li>Rapidité (mise à jour en une heure maximum)</li>
                            <li>Justesse (choix des bonnes sources d’information)</li>
                            <li>Parlant (mise en forme graphique des données et rappel des objectifs à atteindre).</li>
                        </ul>

                        <h4>B-3- Mise à Jour des Budgets Prévisionnels</h4>
                        <p>
                            La mise à jour périodique de vos budgets prévisionnels et plans de financement est indispensable, pour anticiper les difficultés financières et vous permettre de repositionner votre stratégie financière.
                        </p>

                        <p>
                            Trop souvent les chefs d’entreprise découvrent les résultats de l’année écoulée lors de la sortie du bilan annuel, soit 3 à 4 mois après la fin de l’exercice. En cas de difficultés, le mal est fait et le redressement de l’entreprise long et difficile à réaliser.

Objectifs : <br><br>
                        </p>

                        <ul class="privacy-item">
                            <li>Anticiper les difficultés</li>
                            <li>Vous permettre d’adapter votre stratégie financière</li>
                            <li>Gagner en crédibilité vis-à-vis de vos partenaires financiers</li>
                        </ul>

                        <h4>B-4- Suivi Stratégique et Financier</h4>
                        <p>
                            Nous vous propos un suivi stratégique et financier personnalisé. Aussi, périodiquement (une à deux fois par an à l’occasion de rendez-vous) et en cours d’année en fonction de vos besoins (par téléphone ou mail), nous vous accompagnons sur le plan stratégique et financier.
                        </p>

                        <p>
                            D’un rendez-vous à l’autre, nous évaluons ensemble si vos réalisations sont en ligne avec vos objectifs et quels sont les changements dans votre stratégie qui nécessitent d’effectuer des réajustements financiers.
                        </p>

                        <p>
                            Nous vous conseillons sur les décisions à prendre sur le plan financier et les financements à mettre en œuvre. Jamais dans l’urgence, mais toujours dans l’anticipation, vous gérez ainsi vos affaires plus sereinement.
                        </p>

                        <p>
                            Objectifs : <br> <br>
                        </p>

                        <ul class="privacy-item">
                            <li>S’obliger à faire le point en cours d’année et à mettre à jour ses outils de pilotage</li>
                            <li>Anticiper les difficultés et éviter les dérapages financiers</li>
                            <li>Prendre du recul et partager les décisions financières</li>
                        </ul>

                        <h3>OPTIMISER MON ORGANISATION JURIDIQUE ET PATRIMONIALE</h3>

                        <p>
                            Votre entreprise et vous, ça fait deux. En êtes-vous si sûr ?

Etes-vous certain que l’organisation juridique, fiscale et financière de votre entreprise ou de votre groupe, est optimum ?
                        </p>

                        <ul class="privacy-item">
                            <li>Vos options fiscales passées, comme votre organisation juridico-financière sont-elles toujours les bonnes ?</li>
                        
                            <li>Votre patrimoine privé serait-il bien protégé en cas de difficultés financières de votre entreprise ?</li>
                            <li>Vos ayants droits, comme votre entreprise, disposeraient-ils d’une marge de manœuvre financière suffisante en cas de décès de votre part et la transmission de votre patrimoine professionnel serait-elle réalisée au moindre cout fiscal ?</li>

                        </ul>

                        <p>
                            Chez MK FINANCES, nous pensons que le développement de l’entreprise et la protection du patrimoine des dirigeants doivent aller de pair.
                        </p>
                        <p>
                            Nos consultants sont donc particulièrement attentifs à vous conseiller les meilleurs montages juridiques, financiers et patrimoniaux qui répondent à ce double objectif.
                        </p>

                        <p>
                            Notre ambition : vous conseiller pour optimiser la création de valeur financière dans votre entreprise et sur le patrimonial, en limitant le plus possible vos engagements personnels sur vos biens propres.
                        </p>

                        <p>
                            Du fait des diplômes et des accréditations dont disposent nos consultants, notre cabinet est habilité à pratiquer le droit à titre accessoire, dans le cadre d’un accompagnement global de votre entreprise ou d’une mission principale en matière de financement ou de transmission d’entreprise.
                        </p>

                       <h4>C-1- Diagnostic Juridique, Fiscal et Financier de votre Situation Actuelle</h4>

                       <p>
                        Afin de bien vous conseiller sur de futurs projets, il est souhaitable de prendre connaissance de votre situation actuelle en réalisant un diagnostic de votre organisation juridique, fiscale et financière existante
                       </p>

                       <p>
                        Ceci, afin de valider sa cohérence ou de vous préconiser si besoin, les changements à opérer, mais aussi, de vous protéger et d’optimiser le rendement financier de vos investissements passés.
                       </p>

                       



                       
                    </div>
                    <div class="privacy-content mb-30"></div>
                </div>
            </div>
        </div>
    </section>
   </div>
{% endblock %}

