{% extends 'base.html.twig' %}

{% block title %}RÉFÉRENCES CLÉES DU CABINET{% endblock %}

{% block body %}
<br><br><br>
   <div class="container">
      <h1>RÉFÉRENCES CLÉES DU CABINET</h1> <br><br>
      <p>
        <b>La Ferme Bio Ramzo (Transformation des produits agroalimentaires) : </b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, recherche de débouchés…
      </p>

      <br><br>
      <p>
        <b>Usine de production de peintures et produits assimilés :</b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, recherche de débouchés…

      </p>

      <br><br>
      <p>
        <b>Usine de production des produits cosmétiques : </b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché…

      </p>

      <br><br>
      <p>
        <b>Usine de production de vaccin et sérum antivenimeux : </b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, Facilitation aux procédures gouvernementale (Attestation de mise sur marché…)
      </p>

      <br><br>
      <p>
        <b>Usine de production de vaccin et sérum antivenimeux : </b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, Facilitation aux procédures gouvernementale (Attestation de mise sur marché…)
      </p>

      <br> <br>
      <p>
        <b>Production et distribution des couches jetables pour bébés:</b><br>
        Business plan, Recherche de Financement, Stratégie de pénétration du marché…

      </p>

      <br><br>
      <p>
        <b>Jamalia Group (Transformation des produits agroalimentaires) :</b>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, recherche de débouchés…
      </p>

      <br><br>
      <p>
        <b>Usine de transformation métallurgique : </b> <br>
        Etude de faisabilité, Recherche de Financement, Stratégie de pénétration du marché, recherche de débouchés…
      </p>


      <p>

      </p>
   </div>
   <br><br><br>
{% endblock %}

