{% extends 'base.html.twig' %}

{% block title %}Audit et conseils{% endblock %}

{% block body %}
   <div class="container">
    <section class="privacy-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30-none">

                    <p>
                        Nos experts Interviennent à la demande des entreprises pour un sujet précis et notamment,  évaluer la qualité de l’information, la performance et l’efficacité de l’entreprise.
                    </p>
                   <br><br>
                    <div class="privacy-content mb-30">
                        <h3 class="title"> REALISER LES MISSIONS D’AUDIT:  </h3>
                        <p>Notre cabinet a développé un savoir-faire pour la réalisation des missions d’audit suivantes :</p>
                        <ul class="privacy-item">
                            <li> Audit contractuel, </li>
                            <li> Audit des procédures administratives,comptables, sociales et juridiques, </li>
                            <li>Audit opérationnel et des performances,</li>
                           
                        </ul>

                        <p>Nos interventions dans le domaine du coaching des entreprises couvrent entre autres les points ci-après:</p>
                        <ul class="privacy-item">
                            <li> Assistance à la mise en place des procédures de contrôle interne ; </li>
                            <li> Contrôle de l’application et du respect des procédures internes ; </li>
                            <li>Etablissement du manuel d’organisation comptable ;</li>
                           
                        </ul>
                       
                    </div>
                    <div class="privacy-content mb-30"></div>
                </div>
            </div>
        </div>
    </section>
   </div>
{% endblock %}

