{% extends 'base.html.twig' %}

{% block title %}assistance comptable et fiscal{% endblock %}

{% block body %}
   <div class="container">
    <section class="privacy-section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-30-none">

                    <p>
                        Dans le cadre de nos missions quotidiennes comptables et administratives, nos Experts et leurs équipes opérationnelles vont  rechercher des solutions en matière fiscale, comptable et en management pour  apporter de la sécurité à vos clients.
                        Notre Cabinet assiste, accompagne et conseille le dirigeant d’entreprise sur l’application et les répercussions de la réglementation fiscale et comptable en vigueur.
                    </p>
                   <br><br>
                    <div class="privacy-content mb-30">
                        <h3 class="title"> CONSEILLER EN MATIERE FISCALE  </h3>
                        <ul class="privacy-item">
                            <li> Conseils permanents sur la fiscalité de l’entreprise notamment ; </li>
                            <li> Assistance de l’entreprise en matière de l’élaboration et de l’évaluation de la stratégie fiscale </li>
                            <li>Proposition des solutions de nature à optimiser la charge fiscale dans le respect des dispositions fiscales en vigueur ;</li>
                            <li>Optimisation de la situation fiscale sur le plan des revenus ;</li>
                            <li>Conseil fiscal sur des problèmes ponctuels ;</li>
                            <li>Supervision des déclarations fiscales pour vérifier leur conformité avec les dispositions en vigueur et s’assurer que l’entreprise n’est pas exposée à des risques fiscaux qu’elle n’a pas identifiés ;</li>
                            <li>Suivi de la fiscalité quotidienne de l’entreprise en fonction de sa structure juridique ;</li>
                            <li>Préparation des dossiers d’exonérations ;</li>
                            <li>Conseils spécifiques lors d’opérations ponctuelles ;</li>
                            <li>Assistance du contribuable lors de vérifications ou de contentieux ;</li>
                            <li>Assistance à l’établissement des déclarations fiscales et sociales (TVA, IR, IS..);</li>
                            
                        </ul>
                        <h3 class="title"> ACCOMPAGNER DANS L’ETABLISSEMENT DES COMPTES :  </h3>
                        <ul class="privacy-item">
                            <li>Mise en place du plan comptable adapté à votre entreprise ;</li>
                            <li>Surveillance, conseil, assistance à la tenue de comptabilités ;</li>
                            <li>Contrôle des services comptables ;</li>
                            <li>Mise en place et suivi de la comptabilité analytique d’exploitation ;</li>
                            <li>Assistance comptable de toute nature ;</li>
                            <li>Établissement des situations périodiques, des bilans et comptes de résultats ;</li>
                            <li>Suivi et contrôle des situations intermédiaires (mensuelles, trimestrielles ou semestrielles);</li>
                            <li>Établissement de situations prévisionnelles ;</li>
                            <li>Assistance à la préparation des comptes annuels;</li>
                            <li>Établissement des comptes de groupe ;</li>
                            <li>Mise en place d’outils de consolidation des bilans et des comptes ;</li>
                            <li>Établissement d’un tableau de bord ;</li>
                            <li>Assistance aux travaux d’inventaire (recensement des stocks, valorisation et provision);</li>
                            <li>Assistance à la préparation des reportings.</li>
                            <li>CONSEILLER ET ACCOMPAGNER EN MATIERE DE GESTION</li>
                        </ul>

                        <h4 class="title"> B-1- Conseil en gestion générale :  </h4>
                        <ul class="privacy-item">
                            <li>Gestion prévisionnelle ;</li>
                            <li>Analyse de coûts, de marges, de rentabilité ;</li>
                            <li>Projets d’investissement : coût et rentabilité ;</li>
                            <li>Mise en place de tableau de bord, de contrôle budgétaire ;</li>
                            <li>Contribution à la protection du patrimoine de l’entreprise ;</li>
                            <li>Optimisation du profil ;</li>
                            <li>Mise en place de ratios de gestion.</li>
                        </ul>

                        <h4 class="title"> B-2- Conseil en gestion financière :</h4>
                        <ul class="privacy-item">
                            <li>Analyse de gestion financière et de rentabilité des capitaux investis ;</li>
                            <li>Mise en place de ratio financier ;</li>
                            <li>Techniques d’analyse et de gestion des fonds de roulement ;</li>
                            <li>Systèmes de crédit, crédit-bail, affacturage ;</li>
                            <li>Prises de participation (étude, assistance, réalisation pratique) ;</li>
                            <li>Confection de dossiers de subventions, de réduction de droits de mutation, d’exonération de taxes.</li>
                        </ul>

                        <h4 class="title"> B-3- Relations avec les organismes bancaires et financiers :</h4>
                        <ul class="privacy-item">
                            <li>Analyse de structure financière : suivi du Cash Flow ;</li>
                            <li>Détermination des objectifs et mise en place d’un plan d’action en fonction de la trésorerie ;</li>
                            <li>Constructions de plans de financement à long terme ;</li>
                            <li>Choix des modes de financement et établissement de dossier de crédit ;</li>
                        </ul>


                    </div>
                    <div class="privacy-content mb-30"></div>
                </div>
            </div>
        </div>
    </section>
   </div>
{% endblock %}

